/*css reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*Mobile view*/

body {
  margin: 0;
  padding: 0;
  background: url("../img/bg.jpeg");
}

.wrapper {
    max-width: 45rem;
  margin: 0 auto;
  padding: 80px;
}

.mastheadimg {
    width: 100%;
    height: 200px;
    overflow:hidden;
}

.icons {
    text-align: center;
}

.fas {
    font-size: 80px;
  /*width: 100px;*/
   /* height: auto;
  text-align: center;
  text-decoration: none;*/
    color: #301911;
    margin-bottom: 20px;
    /*display: inline-block;
    vertical-align: middle;
    line-height: 80px;*/
}

.mtext {
    color: #301911;
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin-bottom: 70px;
}

.tagline {
    color: #301911;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 15px 10px;
border-radius: 50%;
    
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}



input{
    width: 100%;
   
    /*border: 1px solid #DDD;*/
 /* box-sizing: border-box;*/
    margin-top: 15px;
    font-size: 1.5rem;
}

button {
    background-color: #8C6042;
    font-family: 'Josefin Sans', sans-serif;
    padding:10px 20px;
    color: wheat;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

button:hover{
    background-color: #A7815B;
}

li {
    list-style: decimal;
    list-style-position: inside;
    color: wheat;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.line{
    border:0.5px dashed white; height:1px;
    margin-top: 70px;
}

p.error{
    color: #301911;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}